<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>Login Page</title>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <h3>Existing User? Login Here</h3>

  <form action="/login" method="POST">
    <input type="email" name="email" placeholder="Enter Email" />
    <br>
    <input type="password" name="password" placeholder="Enter Password" />
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>


</body>

</html>
